.app-layout{

display:flex;

background:#f4f7fb;

min-height:100vh;

}

.main-content{

margin-left:250px;

padding:40px;

width:100%;

}

@media(max-width:900px){

.main-content{

margin-left:0;

padding:20px;

}

}